# Workflow to continuously run the test suite.

name: test

# Run on every push to the main branch, but only when go files are changed.
# Also run on pull requests that modify some go files.
on:
   push:
      branches:
         - main
      paths:
         - "**.go"

   pull-request:
      paths:
         - "**.go"

jobs:
   test:
      name: Test suite

      runs-on: ubuntu-latest

      steps:
         -  name: Checkout
            uses: actions/checkout@v2

         -  name: Unshallow
            run: git fetch --prune --unshallow

         -  name: Set up Go
            uses: actions/setup-go@v2
            with:
               go-version: 1.14.x
            id: go

         -  name: Test
            run: go test ./...
